.terminal-container{
    height: 100%;
    overflow: auto !important;

    div[name="react-console-emulator"]{
        width: 100%;
        height: 90%;
        background-color: transparent !important;
    }
}